<section id="contact" class="py-20 bg-white">
  <div class="container px-4 mx-auto">
    <h2 class="mb-12 text-3xl font-bold text-center text-navy-600">
      Formularz Kontaktowy
    </h2>
    <div class="max-w-lg mx-auto">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="space-y-6">
        <div class="grid grid-cols-2 gap-4">
          <div class="relative">
            <input
              type="text"
              id="firstName"
              formControlName="firstName"
              placeholder="Imię"
              class="placeholder-transparent form-input peer"
              [ngClass]="{
                'border-red-500':
                  submitted && contactForm.get('firstName')?.errors
              }"
            />
            <label for="firstName" class="label-hidden">Imię</label>
            @if (submitted &&
            contactForm.get('firstName')?.errors?.['required']) {
            <div class="px-2 mt-1 text-xs text-red-500">Imię jest wymagane</div>
            }
          </div>
          <div class="relative">
            <input
              type="text"
              id="lastName"
              formControlName="lastName"
              placeholder="Nazwisko"
              class="placeholder-transparent form-input peer"
              [ngClass]="{
                'border-red-500':
                  submitted && contactForm.get('lastName')?.errors
              }"
            />
            <label for="lastName" class="label-hidden">Nazwisko</label>
            @if (submitted && contactForm.get('lastName')?.errors?.['required'])
            {
            <div class="px-2 mt-1 text-xs text-red-500">
              Nazwisko jest wymagane
            </div>
            }
          </div>
        </div>
        <div class="grid grid-cols-2 gap-4">
          <div class="relative mt-2">
            <input
              type="email"
              id="email"
              formControlName="email"
              placeholder="Adres Email"
              class="placeholder-transparent form-input peer"
              [ngClass]="{
                'border-red-500': submitted && contactForm.get('email')?.errors
              }"
            />
            <label for="email" class="label-hidden">Adres Email</label>
            @if (submitted && contactForm.get('email')?.errors?.['required']) {
            <div class="px-2 mt-1 text-xs text-red-500">
              Email jest wymagany
            </div>
            } @else if (submitted &&
            contactForm.get('email')?.errors?.['email']) {
            <div class="px-2 mt-1 text-xs text-red-500">
              Proszę wprowadzić poprawny adres email
            </div>
            }
          </div>
          <div class="relative mt-2">
            <input
              type="tel"
              id="phone"
              formControlName="phone"
              placeholder="Numer Telefonu"
              class="placeholder-transparent form-input peer"
              [ngClass]="{
                'border-red-500': submitted && contactForm.get('phone')?.errors
              }"
            />
            <label for="phone" class="label-hidden">Numer Telefonu</label>
            @if (submitted && contactForm.get('phone')?.errors?.['required']) {
            <div class="px-2 mt-1 text-xs text-red-500">
              Numer telefonu jest wymagany
            </div>
            }
          </div>
        </div>
        <div class="relative">
          <textarea
            id="message"
            formControlName="message"
            rows="4"
            placeholder="Wiadomość"
            class="mt-4 border-2 rounded-lg form-input"
            [ngClass]="{
              'border-red-500': submitted && contactForm.get('message')?.errors
            }"
          ></textarea>
          @if (submitted && contactForm.get('message')?.errors?.['required']) {
          <div class="px-2 mt-1 text-xs text-red-500">
            Wiadomość jest wymagana
          </div>
          }
        </div>
        <button
          type="submit"
          class="w-full py-3 text-white transition bg-orange-500 rounded-lg hover:bg-orange-600"
        >
          Wyślij
        </button>
      </form>
    </div>
  </div>
</section>
